* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  
}

body {
/* width: 100%; */
    height: 100vh;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    background-repeat: no-repeat;
    background-size: cover;
  }

header {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 25px;
  }

.main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.appTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  /* margin-bottom: 20px; */
  color: white;
}

.card {
  width: 90%;
  max-width: 470px;
  color: white;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 10px rgba(56, 55, 55, 0.2);
}

.nextDays {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 470px;
    padding: 20px;
    border-radius: 10px;
    height: 547px;
    
    /* background: rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 0 10px rgba(56, 55, 55, 0.2); */
  }
  
  .day1, .day2, .day3, .day4, .day5
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    max-width: 470px;
    margin-left: 10px;
    padding: 13px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(56, 55, 55, 0.2);
  } 

 

  .min, .max {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search button img {
  width: 15px;
}

::placeholder {
  text-align: center;
}

.search input:focus {
color: rgb(111, 108, 108);
}

.weekDay {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  font-size: 30px;
  font-weight: 400;
}

.weather-icon {
  width: 130px;
  margin-top: 10px;
}

.weather h1 {
  font-size: 60px;
  font-weight: 500;
}

.weather h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

footer p {
  text-align: center;
  /* margin-top: 50px;
  margin-bottom: 20px; */
  font-size: 14px;
  color: white;
}

a {
    color: white;
  }
  

@media screen and (max-width: 600px) {
    .main {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .day1, .day2, .day3, .day4, .day5
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    max-width: 470px;
    margin-left: 5px;
    padding: 13px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(56, 55, 55, 0.2);
  } 

  footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .search input {
   width: 65px; 
  }
    
  .col img {
    width: 30px;
  }
  
  .details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 0 20px;
    margin-top: 50px;
  }

  .humidity,
  .wind {
    font-size: 25px;
    margin-top: -6px;
  }

  body{
    /* height: 100%; */
    height: 100vh;
    /* height: webkit-fill-available; */
  }
}